<div class="background">
  <div class="login-design">
    <div class="img-container">
      <img src="assets/logo.png" alt="Logo" />
    </div>

    <form class="form-container" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()">
      <span class="titulo-formulario">
        <h1>Login</h1>
      </span>
      <div class="username">
        <input type="text" placeholder="Email" formControlName="email" class="beauty-input" />
      </div>
      <div class="container-password">
        <div class="password">
          <input class="password-input beauty-input" #inputPassword placeholder="Password" formControlName="password" type="password"
            onpaste="return false" />
          <i class="fa-regular fa-eye eye-password" (click)="toggleShowEye()"></i>
        </div>
      </div>

      <div class="button1">
        <button type="submit">Sign In</button>
      </div>

      <div class="forgot-password">
        <a class="link-password" [routerLink]="['/forgot-password'] ">Forgot password?</a>
      </div>

      <div *ngIf="respuestaError" class="texto-advertencia">
        {{ error }}
      </div>
    </form>
  </div>
</div>