<div class="background">

    <div class="login-design">
        <div class="img-container">
            <img src="src/assets/1665603594229.jpg" alt="">
        </div>

        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()">
            <label> Sign In </label>
            <div class="username">
                <input type="text" placeholder="Correo Electronico" formControlName="email">
            </div>
            <div class="password">
                <input type="password" placeholder="Contraseña" formControlName="password">
            </div>

            <div class="button1">
                <button type="submit">Iniciar Sesión</button>
            </div>

            <span *ngIf="respuestaError" class="texto-advertencia">{{error | titlecase}}</span>

        </form>
    </div>

</div>