* {
    padding: 0;
    margin: 0
}

.background {
    width: 100%;
    height: 100vh;
    background: rgb(252, 239, 252);
    background: linear-gradient(90deg, rgba(252, 239, 252, 1) 0%, rgba(255, 155, 250, 1) 51%, rgba(214, 141, 249, 1) 91%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-design {
    height: 25rem;
    width: 42rem;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: flex-start;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;


}

.login-design button {
    height: 60px;
    width: 320px;
    background-color: #f0b7df;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.login-design button:hover {
    background-color: grey;
    transition: all .5s;
}

.login-design input {
    height: 60px;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #e6e6e6;
    font-size: 15px;
    font-weight: 500;
    padding-left: 20px;

}

.login-design label {
    font-size: 40px;
}