* {
  padding: 0;
  margin: 0;
}

.background {
  width: 100%;
  height: 100vh;
  background: rgb(255, 215, 241);
  background: linear-gradient(90deg,
      rgba(255, 215, 241, 1) 0%,
      rgba(252, 187, 176, 1) 57%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px -2px 35px -6px rgba(0, 0, 0, 0.55);
}

.login-design {
  height: 25rem;
  width: 42rem;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 120px 130px 33px 95px;
  text-align: center;
}

.login-design button {
  height: 60px;
  width: 320px;
  background-color: #f62360;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.login-design button:hover {
  background-color: grey;
  transition: all 0.5s;
}

.username {
  margin-top: 10px;
}

.beauty-input{
  position: relative;
  height: 54px;
  width: 300px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #e6e6e6;
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;
}
.beauty-input:focus {
  border: 2.5px #f62360 solid;
  transition: all 0.1s ease;
}


/* .username input:focus {
  border: 2px solid  #f62360
} */

.titulo-formulario {
  font-weight: 400;
  color: #f62360;
}

img {
  height: 26vh;
}

.forgot-password {
  color: gray;
  margin: 20px;
}

a {
  color: gray;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #f62360;
}

a:active {
  color: #f62360;
}

.texto-advertencia {
  color: red;
  background-color: #f0c2cf;
  height: 18px;
  border-radius: 10px;
  font-size: 12px;
}

.container-password {
  position: relative;
  margin-bottom: 15px;
  height: 60px;
  width: 330px;

}

.password {
  position: relative;
  height: 100%;
  width: 100%;
}

.eye-password {
  position: absolute;
  top: 25px;
  right: 20px;
}

.eye-password:hover{
  cursor: pointer;
}